html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

#clearbutton{
    margin-bottom: 1.25rem;
}

#switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem black ;
}

#tablebutton {
    background-color: rgb(77, 151, 230);
}

#textbutton {
    background-color: white;
}

#switch img {
    width: 2rem;
    padding: 0.3rem 0.3rem;
    margin: 0.1rem 0.075rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

#switch img:hover {
    background-color: rgb(198, 198, 198) !important;
    cursor: pointer;
}

#regressiontable {
    max-height: 16rem;
    display: inline-block;
    overflow: auto;
    border: solid 1px black;
}

table {
    padding: 0.5rem 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.85rem;
    margin: auto;
}

th, td {
    padding: 0.5rem 1rem;
}

table input {
    border: none;
    font-size: 1rem;
    text-align: center;
    width: 4rem;
}

#textinput {
    display: none;
}

textarea {
    resize: none;
    height: 20rem;
    width: 10rem;
}

#buttoncontainer {
    width: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 0.5rem;
}

#clearbutton {
    width: 10rem;
}

#confidence {
    margin-top: 1rem;
}

#submitbutton {
    display: block;
    padding: 1em 2em;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#resultscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8rem;
    display: none;
}

#resultscontainer h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

#graphcontainer {
    width: 50%;
    /* min-width: 5rem; */
}

canvas {
    display: none;
    min-width: 20rem;
    min-height: 10rem;
}

.results {
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

#equation {
    font-size: 1.25rem;
}

#description {
    text-align: center;
    width: 50%;
    margin-bottom: 2rem;
    border: solid 2px #3a6fc4;
    padding: 1rem 2rem;
    border-radius: 30px;
}

#description ul {
    list-style-type: none
}

#calculator #regression {
    background-color: rgb(77, 151, 230);
}

@media (max-width:768px) {
    html {
        font-size: 13px;
    }

    #rowbuttons, #columnbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    #buttoncontainer {
        width: 20rem;
    }

    #graphcontainer {
        width: 90%;
    }

    #description {
        width: 90%;
    }
}